@import url('https://cdn.syncfusion.com/ej2/material.css');
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-react-popups/styles/material.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'Poppins';
    font-display: swap;
    font-style: normal;
    /* Font weight 500 - Medium */
    font-weight: 600;
    src: url('/fonts/Poppins-Semibold.ttf');
  }

  @font-face {
    font-family: 'Poppins';
    font-display: swap;
    font-style: normal;
    /* Font weight 700 - Bold */
    font-weight: 700;
    src: url('/fonts/Poppins-Bold.ttf');
  }
  @font-face {
    font-family: 'Poppins';
    font-display: swap;
    font-style: normal;
    /* Font weight 700 - Bold */
    font-weight: 800;
    src: url('/fonts/Poppins-ExtraBold.ttf');
  }
}

.btn-primary {
  @apply bg-sky-400  text-white w-full rounded-md py-2;
}
