@import url('https://cdn.syncfusion.com/ej2/material.css');
/* @import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-react-popups/styles/material.css'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  font-family: 'Poppins';
} */

@layer base {
  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'Poppins';
    font-display: swap;
    font-style: normal;
    /* Font weight 500 - Medium */
    font-weight: 600;
    src: url('/fonts/Poppins-Semibold.ttf');
  }

  @font-face {
    font-family: 'Poppins';
    font-display: swap;
    font-style: normal;
    /* Font weight 700 - Bold */
    font-weight: 700;
    src: url('/fonts/Poppins-Bold.ttf');
  }
  @font-face {
    font-family: 'Poppins';
    font-display: swap;
    font-style: normal;
    /* Font weight 700 - Bold */
    font-weight: 800;
    src: url('/fonts/Poppins-ExtraBold.ttf');
  }
}

/* TEXT */
.text-h1 {
  @apply text-8xl font-poppins font-bold;
}

.text-h2 {
  @apply text-7xl font-poppins font-bold;
}

.text-h3 {
  @apply text-6xl font-poppins font-bold;
}

.text-h4 {
  @apply text-5xl font-poppins font-bold;
}

.text-h5 {
  @apply text-4xl font-poppins font-bold;
}

.text-h6 {
  @apply text-3xl font-poppins font-bold;
}

.text-p {
  @apply text-base font-poppins;
}

/* BUTTON  */
.btn-primary {
  @apply px-5 py-2 rounded-md bg-primary text-white font-roboto;
}

.btn-secondary {
  @apply px-5 py-2 rounded-md bg-secondary text-white font-roboto;
}

.btn-update {
  @apply px-5 py-2 rounded-md bg-brand text-white font-roboto;
}

.smooth-transition {
  @apply transition-all duration-300 ease-in-out;
}
